.App {
  text-align: center;
  /* overflow: hidden; */
}

.main-middle-column-for-components{
  max-height: 580px;
  overflow: auto;
  
  
}

/* .header-hr {
  size: 30px;
  color: #00577c;
  position: relative;
  top: -15px;
  border: none;
  height: 12px;
  background: #00577c;
  margin-bottom: -13px;
  box-shadow: #282c34;
} */

.body{
  overflow: hidden;
}



.addStudent {
  text-align: center;
  color: #00577c;
}
.topHorizontalRule {
  overflow: hidden;
  color: #00577c;
  size: 5;
}
.myFormMargins {
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.overflow-div{
  overflow: hidden;
}

/* .container {
  margin-left: 0%;
  margin-right: 0%;
  background-color: #eeeeee;
} */
.middleHr {
  size: 0ch;
  height: 0cm;
}

/* logo header css */
.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

/* .header h1 {
  position: relative;
  top: 18px;
  left: 10px;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
